<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLVwTYIyD8yixNH_wlvlfpX-nQOAF-f3g</string>
	<key>GCM_SENDER_ID</key>
	<string>117867501693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usedmarket</string>
	<key>PROJECT_ID</key>
	<string>usedmarket-960f3</string>
	<key>STORAGE_BUCKET</key>
	<string>usedmarket-960f3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117867501693:ios:4be3f35a9d5f684d733914</string>
</dict>
</plist>